#root {
  max-width: 550px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav{
  min-width:500px;
  padding:1rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display:flex;
  border-top-left-radius:10px;
  border-top-right-radius:10px;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.hero{
  padding:2rem;
}

.hero img {
  max-width:80%;
  margin:1.5rem auto;
}

.hero h1, .hero h5{text-align:left;
margin:0;}

.hero h1 {
  font-size:2rem;
  margin:1rem 0;
}


.hero h5{
  max-width:60%;
  color:#222;
}


.cards-list{
  display:flex;
  overflow:scroll;
  max-width:100%;
  
}

#card {
  margin:1rem;
  max-width:35%;
  display:flex;
  flex-flow:column;
  position:relative;
}

.little-sticker{
  position:absolute;
  top:0.5rem;
  left:0.5rem;
  background-color:white;
  padding:0 0.4rem;
  font-size:0.7rem;
  border-radius:5px;
}

.card-img{
  border-radius:10px;

}

#card-desc {
  display:flex;
  flex-flow:column;
  align-items:center;
  text-align:left;
}

#rating-location{
  display:flex;
  align-items:center;
  width:100%;
  font-size:0.8rem;
}
#rating-location > * {
  margin:0.5rem 0.2rem 0 0;
}

#card-description{
  font-size:0.8rem;
  font-weight:400;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}

#pricing{
  font-size:0.90rem;
  margin-top:0;
  width:100%;
}

.bold{
  font-weight:500;
}
